*{
    font-family:fantasy;
    font-weight: 450;
    color:rgb(252, 252, 252)
}
html {
    height: 100%;
}
body{
    height: 100%;
    margin: 0;
    background: linear-gradient(145deg,#e66465, #9198e5);
    background-repeat: no-repeat;
    background-attachment: fixed;
    
  }
button{
display:inline-block;
padding:0.35em 1.2em;
border:0.1em solid #FFFFFF;
margin:0 0.3em 0.3em 0;
border-radius:0.12em;
box-sizing: border-box;
text-decoration:none;
font-family:fantasy;
font-weight:300;
color:#4d4848;
text-align:center;
transition: all 0.2s;

}
button:hover{
    color:#000000;
    background-color:#FFFFFF;
    }
.button{
    text-align: center;
}
ul{
    height: 80%;
    width: 70%;
    display: inline-block; text-align: left;
    -webkit-column-count: 3;
       -moz-column-count: 3;
            column-count: 3;
}

li{
    display: inline-block;
    
    
}

 